name: Build, test and run project

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  build-and-test-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Install API dependencies
        run: dotnet restore
        working-directory: ./blotztask-api

      - name: Install test dependencies
        run: dotnet restore
        working-directory: ./blotztask-test

      - name: .Net - Tool restore
        working-directory: ./blotztask-api
        run: |
          dotnet tool restore

      - name: Build the API project
        run: dotnet build --configuration Release --no-restore
        working-directory: ./blotztask-api

      - name: Build the test project
        run: dotnet build --configuration Release --no-restore
        working-directory: ./blotztask-test

      - name: Run .NET Tests
        run: dotnet test --configuration Release --no-build --verbosity normal --logger "trx;LogFileName=test_results.trx" --collect:"XPlat Code Coverage" --results-directory ./TestResults
        working-directory: ./blotztask-test

      - name: Publish test results as PR comment
        if: (!cancelled())
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "blotztask-test/TestResults/**/*.trx"

      - name: Generate coverage summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: "blotztask-test/TestResults/**/coverage.cobertura.xml"
          format: "markdown"
          output: both

      - name: Check coverage file exists
        if: (!cancelled())
        id: coverage_file
        shell: bash
        run: |
          if [ -f "code-coverage-results.md" ]; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Add Coverage PR Comment
        if: (!cancelled() && steps.coverage_file.outputs.exists == 'true')
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: false
          path: code-coverage-results.md

      - name: Publish the project
        run: dotnet publish -c Release -o ${{ runner.temp }}/blotztask-api
        working-directory: ./blotztask-api

      - name: Generate EF Core migration script
        working-directory: ./blotztask-api
        run: dotnet ef migrations script -o ${{ runner.temp }}/migrations.sql
