name: Build, test and run project 

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
    build-and-test-backend:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          issues: read
          checks: write
          pull-requests: write


        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up .NET Core
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '8.0.x'

        - name: Install API dependencies
          run: dotnet restore
          working-directory: ./blotztask-api

        - name: Install test dependencies
          run: dotnet restore
          working-directory: ./blotztask-test

        - name: .Net - Tool restore
          working-directory: ./blotztask-api
          run: |
            dotnet tool restore

        - name: Build the API project
          run: dotnet build --configuration Release --no-restore
          working-directory: ./blotztask-api

        - name: Build the test project
          run: dotnet build --configuration Release --no-restore
          working-directory: ./blotztask-test

        - name: Run .NET Tests
          run: dotnet test --configuration Release --no-build --verbosity normal --logger "trx;LogFileName=test_results.trx" --collect:"XPlat Code Coverage" --results-directory ./TestResults
          working-directory: ./blotztask-test

        - name: Publish Test Results (PR Comment)
          uses: EnricoMi/publish-unit-test-result-action@v2
          if: always()
          with:
            files: "blotztask-test/TestResults/**/*.trx"
            comment_mode: always
            check_name: "Test Results (API)"

        - name: Generate Code Coverage Report
          uses: irongut/CodeCoverageSummary@v1.3.0
          if: always()
          with:
            filename: blotztask-test/TestResults/**/coverage.cobertura.xml
            badge: true
            fail_below_min: false
            format: markdown
            hide_branch_rate: false
            hide_complexity: true
            indicators: true
            output: both
            thresholds: '60 80'

        - name: Post Code Coverage
          uses: marocchino/sticky-pull-request-comment@v2
          if: always()
          with:
            path: code-coverage-results.md
            header: code-coverage
          with:
            filename: blotztask-test/TestResults/**/coverage.cobertura.xml
            badge: true
            fail_below_min: false
            format: markdown
            hide_branch_rate: false
            hide_complexity: true
            indicators: true
            output: both
            thresholds: '60 80'

        - name: Post Code Coverage
          uses: marocchino/sticky-pull-request-comment@v2
          if: always() && steps.check_test_results.outputs.results_exist == 'true'
          with:
            path: code-coverage-results.md
            header: code-coverage

        - name: Publish the project
          run: dotnet publish -c Release -o ${{ runner.temp }}/blotztask-api
          working-directory: ./blotztask-api

        - name: Generate EF Core migration script
          working-directory: ./blotztask-api
          run: dotnet ef migrations script -o ${{ runner.temp }}/migrations.sql