# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Prod - Build and deploy WebApi to Azure Web App

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build-api.yml

  deploy:
      runs-on: ubuntu-latest
      needs: build
      environment:
        name: 'prod'
        url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

      steps:
        - name: Download artifact from build job
          uses: actions/download-artifact@v4
          with:
            name: .net-app

        - name: Download artifact from build job
          uses: actions/download-artifact@v4
          with:
            name: db-migrations

        - name: Azure login
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZURE_GHA_MANAGED_IDENTITY_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_GHA_MANAGED_IDENTITY_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

        - uses: Azure/get-keyvault-secrets@v1
          with:
            keyvault: "kv-blotz-task-prod"
            secrets: 'sql-connection-string'
          id: get-secret-connection-strings

        - name: EF - Apply Migration SQL Script
          uses: azure/sql-action@v2.3
          with:
            connection-string: ${{ steps.get-secret-connection-strings.outputs.sql-connection-string }}
            path: ./migrations.sql

        - name: Deploy to Azure Web App
          id: deploy-to-webapp
          uses: azure/webapps-deploy@v3
          with:
            app-name: 'app-blotz-task-api-prod'
            package: './'

        - name: azure logout
          run: |
            az logout
